In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df=pd.read_csv("csv/JC-201803-citibike-tripdata.csv")
df1=pd.read_csv("csv/JC-201804-citibike-tripdata.csv")
df2=pd.read_csv("csv/JC-201805-citibike-tripdata.csv")
df3=pd.read_csv("csv/JC-201806-citibike-tripdata.csv")
df4=pd.read_csv("csv/JC-201807-citibike-tripdata.csv")
df5=pd.read_csv("csv/JC-201808-citibike-tripdata.csv")
df6=pd.read_csv("csv/JC-201809-citibike-tripdata.csv")
df7=pd.read_csv("csv/JC-201810-citibike-tripdata.csv")
df8=pd.read_csv("csv/JC-201811-citibike-tripdata.csv")
df9=pd.read_csv("csv/JC-201812-citibike-tripdata.csv")
df10=pd.read_csv("csv/JC-201901-citibike-tripdata.csv")
df11=pd.read_csv("csv/JC-201902-citibike-tripdata.csv")

In [5]:
comb_df=pd.concat([df,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11])

In [6]:
comb_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,329,2018-03-01 06:37:37.0380,2018-03-01 06:43:06.5520,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29284,Subscriber,1981,1
1,118,2018-03-01 07:37:30.1210,2018-03-01 07:39:28.3910,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29465,Subscriber,1966,1
2,76,2018-03-01 08:26:17.9390,2018-03-01 08:27:34.6770,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29681,Subscriber,1975,1
3,578,2018-03-01 12:10:36.2160,2018-03-01 12:20:14.8690,3183,Exchange Place,40.716247,-74.033459,3185,City Hall,40.717733,-74.043845,31695,Subscriber,1970,1
4,485,2018-03-01 12:21:47.8800,2018-03-01 12:29:53.2990,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,31802,Subscriber,1979,1

In [7]:
comb_df["tripduration"]=round((comb_df["tripduration"]/60),2)

In [8]:
comb_df["Age"]=2019-comb_df["birth year"]

In [9]:
comb_df.loc[comb_df["gender"]==1, "gender"]= "male"
comb_df.loc[comb_df["gender"]==2, "gender"]= "female"
comb_df.loc[comb_df["gender"]==0, "gender"]= "unknown"

In [10]:
comb_df.shape

(364352, 16)

In [11]:
comb_df.to_csv("clean_city_bike.csv")